<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/defaultTemplate">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Update Product</title>
</head>
<body>
	<div layout:fragment="content" class="mt-5 container" style="width: 50%;">
		<div th:object="${game}" class="d-flex flex-wrap bg-tint" style="border-radius: 50px;">
			<h1 class="pt-4 pb-4 px-5 w-100" id="name" th:text="*{name}"></h1>
			<div class="form-group px-5 w-100">
                <p>
                    <u><strong>Price:</strong></u>
                    <br>
                    <span th:text="*{price}"></span>
                </p>
			</div>
			<div class="form-group px-5 w-100">
                <p>
                    <u><strong>Category</strong></u>
                    <br> 
                    <span th:text="*{category}"></span>
                </p>
			</div>
			<div class="form-group px-5 w-100">
                <p>
                    <u><strong>Description:</strong></u>
                    <br>
                    <span th:text="*{description}"></span>
                </p>
			</div>
			<div class="px-5 w-100 pb-4">
				<button class="py-2 w-100 btn btn-primary">Add To Cart</button>
			</div>
		</div>
		
	</div>
</body>
</html>