/* Variable Colors */
:root {
    --bg: rgb(43, 44, 45);
    --nav: rgba(188, 189, 190, 0.603);
    --tint: rgba(105, 104, 104, 0.7);
    --text: rgb(234, 231, 231);
    --border: rgb(31, 31, 31);
}

.bg-nav {
    background-color: var(--nav);
    backdrop-filter: blur(10px);
}

.bg-tint {
    background-color: var(--tint);
}

.border-tint {
    border: 2px solid var(--border);
}
