* {
    box-sizing: border-box;
}

html {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    overscroll-behavior: none;
    caret-color: transparent;
    width: 100%;
    /* overflow: hidden; */
    animation: screenLock 7s ease-out forwards;
    -webkit-user-select: none;
    user-select: none;
    background: var(--bg);
    background-size: cover;
    object-fit: cover;
    z-index: -1;
}

body {
    background: var(--bg);
}

input {
    caret-color: black;
}