<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="layouts/defaultTemplate">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Registration</title>
</head>

<body>

	<div layout:fragment="content">
		<form class="register-form" th:action="@{/register}" th:object="${registrationModel}" method="post">
			<img class="logo" th:src="@{/images/gameShopLogo.svg}" alt="Game Shop Logo of a game controller">
			<div class="flex-container my-4">
				<div class="flex-item col-12 col-sm-6">
					<label class="register-labels" for="firstName">First Name:</label>
					<input class="form-control mb-3" type="text" th:field="*{firstName}" id="firstName" placeholder="John">
					<p class="error-msg" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
				</div>
				<div class="flex-item col-12 col-sm-6">
					<label class="register-labels" for="lastName">Last Name:</label>
					<input class="form-control mb-3" type="text" th:field="*{lastName}" id="lastName" placeholder="Doe">
					<p class="error-msg" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
				</div>
				<div class="flex-item col-12 col-sm-6">
					<label class="register-labels" for="username">Username:</label>
					<input class="form-control mb-3" type="text" th:field="*{username}" id="username" placeholder="johndoe123">
					<p class="error-msg" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
				</div>
				<div class="flex-item col-12 col-sm-6">
					<label class="register-labels" for="password">Password:</label>
					<input class="form-control mb-3" type="password" th:field="*{password}" id="password" aria-describedby="passwordHelpBlock" placeholder="Password">
					<p class="error-msg" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>
				</div>
				<div class="flex-item col-12 col-sm-6">
					<label class="register-labels" for="email">Email:</label>
					<input class="form-control mb-3" type="text" th:field="*{email}" id="email" placeholder="johndoe@example.com">
					<p class="error-msg" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
				</div>
				<div class="flex-item col-12 col-sm-6">
					<label class="register-labels" for="phoneNumber">Phone Number:</label>
					<input class="form-control mb-3" type="tel" th:field="*{phoneNumber}" id="phoneNumber" placeholder="123-456-7890">
					<p class="error-msg" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></p>
				</div>
			</div>
			<div class="col-12 col-md-6">
				<button class="btn btn-primary w-100" type="submit">Register</button>
			</div>
		</form>
	</div>

</body>

</html>

<style>
	* {
		box-sizing: border-box;
	}


	.register-form {
		width: 90%;
		max-width: 1000px;
		background-color: rgb(223, 223, 223);
		border-radius: 25px;
		outline: black solid 2px;
		margin: auto;
		padding: 36px;
	}

	.logo {
		width: 160px;
		margin-top: 36px;
	}

	.flex-container {
		display: flex;
		flex-wrap: wrap;
		
	}

	.flex-item {
		display: flex;
		flex-direction: column;
	}

	.register-labels {
		align-self: self-start;
	}

	.error-msg {
		color: red;
	}
</style>